@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.Main {
  background-image: url('./Frame_1.png');
  background-color: #161615;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  overflow-x: hidden;
}
.About {
  width: 80%;
  height: 50%;
  border-radius: 25px;
  /* background-image: url("./bg.png"); */
  background-size: cover;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 22px;
  padding: 0 60px;
  box-sizing: border-box;
  font-family: 'Orbitron', Arial, Verdana, sans-serif;
}
.About p {
  font-family: 'Futura', sans-serif;
  font-weight: 400px;
  justify-content: space-around;
}
.About h2 {
  margin-bottom: 20px;
  color: #ffbc00;
  font-size: 36px;
  font-weight: 600px;
  font-family: 'Orbitron', sans-serif;
}
.Nav {
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f2f2e;
  color: white;
}
.Nav img {
  width: 250px;
  height: 220px;
}
.Nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  font-size: 22px;
  padding: 0%;
}
.Nav h5 {
  font-size: 25px;
  margin: 0%;
  padding: 0%;
  font-weight: 600px;
}
.Nav a {
  text-decoration: none;
  color: white;
}
.Nav a:hover {
  color: #ffbc00;
}
.QuickLinks,
.Contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Assistant', Arial, Verdana, sans-serif;
  padding: 20px;
}
.Main p {
  color: white;
}
.Main p a {
  color: white;
}
.Main h2 {
  font-weight: 600px;
}
@media (max-width: 768px) and (max-height: 1024px) {
  /* CSS rules for screens with max-width 768px and max-height 1024px */
  .Main {
    flex-direction: column;
  }
  .About {
    width: 90%;
    height: 70%;
    padding: 0 20px;
  }
  .Nav {
    width: 100%;
    padding: 10px;
  }
  .Nav img {
    width: 80px;
    height: 70px;
  }
  .Nav ul {
    font-size: 18px;
  }
  .Nav h5 {
    font-size: 20px;
  }
  .About h2 {
    font-size: 30px;
  }
  .Main p {
    font-size: 18px;
  }
}

@media (max-width: 480px) and (max-height: 640px) {
  /* CSS rules for screens with max-width 480px and max-height 640px */
  .Main {
    flex-direction: column;
  }
  .About {
    width: 90%;
    height: 70%;
    padding: 0 20px;
  }
  .Nav {
    width: 100%;
    padding: 10px;
  }
  .Nav img {
    width: 80px;
    height: 70px;
  }
  .Nav ul {
    font-size: 18px;
  }
  .Nav h5 {
    font-size: 20px;
  }
  .About h2 {
    font-size: 30px;
  }
  .Main p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  /* CSS rules for 1024x600px screen size */
  .Main {
    flex-direction: column;
  }
  .About {
    width: 90%;
    height: 70%;
    padding: 0 20px;
  }
  .Nav {
    width: 100%;
    padding: 10px;
  }
  .Nav img {
    width: 80px;
    height: 70px;
  }
  .Nav ul {
    font-size: 18px;
  }
  .Nav h5 {
    font-size: 20px;
  }
  .About h2 {
    font-size: 30px;
  }
  .Main p {
    font-size: 18px;
  }
}

@media (max-width: 915px) and (max-height: 833px) {
  /* CSS rules for 915x833px screen size */
  .Main {
    flex-direction: column;
  }
  .About {
    width: 90%;
    height: 70%;
    padding: 0 20px;
  }
  .Nav {
    width: 100%;
    padding: 10px;
  }
  .Nav img {
    width: 80px;
    height: 70px;
  }
  .Nav ul {
    font-size: 18px;
  }
  .Nav h5 {
    font-size: 20px;
  }
  .About h2 {
    font-size: 30px;
  }
  .Main p {
    font-size: 18px;
  }
}
